body{
	background-image: url('../images/bg2.jpg');
	background-size: cover;
}

.mybody{
	display: grid;
	grid-template-columns: 30% 70%;
}

.sidebar{
	background-color: azure;
	color: black;
}

.overlay{
	background-color: rgba(148, 64, 8, 0.644) !important;
}

pre{
	color: azure !important;
}

/*Navigation Start*/
.navbar .brand {
	width: 5em;
}

.navbar .brand img{
	width: 100%;
	border-radius: 10rem;
}


.navbar ul li a{
	color: orange !important;
}

.nav-item{
	margin-left: 15px;
}

.nav-item:hover{
	background-color: black;
	border-radius: 0.3rem;
}

.dropdown-item:hover{
	font-weight: bold;
}

.signin a{
	color: azure !important;	
}

.search{
	display: inline !important;	
}

/*Navigation End*/

.jumbo{
	background-image: url('./images/bg3.jpg');
	background-size: cover;
	color: orange;
	margin-bottom: 50px;
}

.jumbotron{
	background-color: rgba(17, 16, 16, 0.685) !important;
	background-size: cover;
	color: orange;
	margin-bottom: 50px;
}


.content{
	margin: 40px;
	font-family: sans-serif ;
}

.intro{
	text-align: center;
}

/*Pending Books*/

.pending{
		
}



.cover{
	width: 15%;
	height: auto;
}

.cover img{
	width: 100%;
	height: auto;
}

/*Books Display*/

.bookdisplay{
	padding: 10px;
	font-size: 13px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	color: azure;
}

/*Individual books*/

.book-cover{
	width: 120px;
	height: 150px;
	margin: 20px;
	margin: auto !important;
	background-color: #4eb4de;

}

.book{
	margin: auto !important;
	text-align: center;
}


.bookdetails{
	 text-align: center;
}

/*Books Display End*/

/*Login & Register Form*/

.myform{
	margin: 30px;
}

.loginhead{
	background: #1d2124;
	padding: 20px;
	font-weight: bolder;
	color: orange;
	margin: auto;
	width: 70%;
}

.loginform{
	background: azure;
	width: 70%;
	margin: auto;
	padding: 50px;
}

.forminput{
	margin: auto !important;
	width: 50% !important;
}
 
.lower{
	text-align: center;
}

.loginbutton{
	width: 50%;
}
.createacc{
	text-align: center;
}

.regbutton{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 50%;
}

.regbutton input{
	width: 100%;
}

.haveaccount{
	text-align: center;
}

/*User Profile Page*/

.users{
	display: grid;
	grid-template-columns: 60% 40%;
}

.profilepicture{
	margin: 40px;
	width: 40%;

}

.profilepic{
	border-radius: 30px;
	width: 100%;
	height: 50%;

}

.userdetails{
	margin: 40px;
	color: azure;
}

.userdetails h3{
	color: cyan;
	margin: 10px;
}

.userdetails h5{
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 5px;
}

.userinfo{
	margin: 40px;
}

/*Picture Change Page*/

.dp{
	text-align: center;
}

.profilepicpreview{
	width: 20%;
	height: 30%;

}


/*Footer*/

footer{
	margin-top: 40px; 
	padding: 20px;
	background-color: #8b0000;
	color: azure;
	font-weight: bold;
	text-align: center;
}






/*Media Queries*/

@media (max-width: 768px){

	.mybody{
		display: block;
		width: 100%;
	}


	.navbar{
		text-align: center;
	}

	.signin{
		align-self: center;
		width: 40%;
		margin: 20px;
	}

	.search{
		width: 100% !important;	
	}

	.search{
		display: block !important;
		margin: auto !important;	
	}

	.bookdisplay{
		font-size: 13px;
		display: grid;
		margin: auto !important;
		grid-template-columns: 1fr 1fr; 

	}

	.book{
		margin: auto !important;
	}

	.bookdetails{
	 	text-align: center;
	 }


/*Login Form*/

.myform{
	margin: 10px;
}

.loginform{
	background: azure;
	width: 70%;
	margin: auto;
	padding: 50px;
}

.forminput{
	margin: auto !important;
	width: 100% !important;
}

.loginbutton{
	width: 100%;
}

.regbutton{
	width: 100%;
}

.lower p{ 
	text-align: center;
	width: 100%;
}

.createacc{
	width: 100%;
	display: block;
}

.regbutton{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 50%; 
}

.regbutton input{
	width: 100%;
}

.haveaccount{
	text-align: center;
}

/*User Profile Page*/
.profilepic{
	text-align: center;
	display: block;
}


.profilepic img{
	width: 100%;
	height: 250px;
	border-radius: 100rem;
}


}

@media (max-width: 500px){
	.content{
		margin: 20px;
			}

	.container{
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 5px !important;
		margin-right: 5px !important; 
	}

	.bookdisplay{
		font-size: 13px;
		display: block;
		margin: auto !important;
		width: 100%;
	}

	.book{
		margin: auto !important;
	}
	 .bookdetails{
	 	text-align: center;
	 }

}

